@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #000;
} */

.logo {
  font-family: 'Cormorant Garamond', serif;
}

.fontt {
  font-family: sans-serif;
  font-weight: 100;
}

.footerLogo {
  font-family: 'Cormorant Garamond', serif;
}

.modelsWrapper {
  height: 100vh;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
}

.overlaysRoot {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modelOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;

  height: 100vh;
  margin-top: -100vh;
}

.modelSection {
  height: 100vh;
  scroll-snap-align: start;
}

/* .modelSection:nth-child(1) {
  background-image: url('/images/ring.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modelSection:nth-child(2) {
  background-image: url('/images/ear1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modelSection:nth-child(3) {
  background-image: url('/images/ogrl2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modelSection:nth-child(4) {
  background-image: url('/images/nar.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modelSection:nth-child(5) {
  background-image: url('/images/sat1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.modelSection:nth-child(6) {
  background-color: #1c1b1b;
} */

.homepageHeading {
  font-size: 4rem;
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: 400;
  letter-spacing: -0.07rem;
  color: #fff;
}

.homepageText {
  font-weight: 200;
  color: #fff;

  max-width: 500px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.homepageBtn {
  width: 300px;
  background-color: #fff;
  color: '#000';
  border-radius: 30px;
  padding: 1rem;
  border: none;
}

@media (min-width: 735px) and (max-width: 1023px) {
  .navIcon {
    font-size: 30px;
  }

  .homepageHeading {
    font-size: 7rem;
  }

  .homepageText {
    font-size: 1.2rem;
  }

  .searchInput {
    font-size: 1.1rem;
  }

  .searchInput::placeholder {
    font-size: 1.1rem;
    color: #1c1b1b;
    font-weight: 200;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .navIcon {
    font-size: 30px;
  }

  .homepageHeading {
    font-size: 8rem;
  }

  .homepageText {
    font-size: 1.4rem;
  }

  .searchInput {
    font-size: 1.3rem;
  }

  .searchInput::placeholder {
    font-size: 1.3rem;
    color: #1c1b1b;
    font-weight: 200;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .homepageHeading {
    font-size: 8rem;
  }

  .homepageText {
    font-size: 1.4rem;
  }
}

@media (min-width: 1440px) {
  .homepageHeading {
    font-size: 8rem;
  }

  .homepageText {
    font-size: 1.4rem;
  }
}
